<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/style_css"></div>
    <title>EasyExpendit: View Categories</title>
</head>
<body style="padding-top: 55px">
<div th:insert="fragments/menu"></div>
<h4>Categories </h4>
<table class="table table-hover table-sm fixed">
    <thead>
    <tr>
        <th style="width:20%" scope="col">ID категории</th>
        <th style="width:70%" scope="col">Имя категории</th>
        <th style="width:10%" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${categories_list}">
        <td th:text="${entry.id}"></td>
        <td th:text="${entry.name}"></td>
        <td>
            <form action="/categories/edit" method="get" class="form-inline">
                <div class="mb-1">
                    <input type="hidden" th:name="id" th:value="${entry.id}"/>
                    <button type="submit" class="btn btn-labeled btn-secondary" title="Редактировать">
                        <span class="btn-label"><i class="fa fa-cog"></i></span></button>
                </div>
            </form>
            <!--<form action="/categories/delete" method="post" class="col">
                <div class="mb-1">
                    <input type="hidden" th:name="id" th:value="${entry.id}"/>
                    <button type="submit" class="btn btn-labeled btn-danger" title="Удалить из системы">
                        <span class="btn-label"><i class="fa fa-remove"></i></span></button>
                </div>
            </form>-->
        </td>
    </tr>
    </tbody>
</table>
<div th:insert="fragments/style_scripts"></div>
</body>
</html>