<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/style_css"></div>
    <title>EasyExpendit: View Consumables</title>
</head>
<body style="padding-top: 55px">
<div th:insert="fragments/menu"></div>
<h1>Доступные расходники</h1>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline d-flex" action="/consumables/available">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" th:name="word">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </nav>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Наименование расходника</th>
            <th scope="col">Контракт</th>
            <th scope="col">Цена</th>
            <th scope="col">p/n</th>
            <th scope="col">Категория</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${consumables_list}">
            <td th:text="${entry.name}"></td>
            <td th:text="${entry.contract}"></td>
            <td th:text="${entry.price}"></td>
            <td th:text="${entry.partNumber}"></td>
            <td th:text="${entry.category.name}"></td>
            <td>
                <!-- Proceed consumable Form-->
                <form action="/consumables/proceed/" method="post">
                    <div class="mb-1">
                        <input type="text" class="form-control" name="comment_name" id="comment_id" th:name="comment"/>
                        <input type="hidden" th:name="id" th:value="${entry.id}"/>
                        <input type="hidden" th:name="status" th:value="IN_WORK"/>
                        <!--<button type="submit" class="btn btn-success btn-sm" value="IN_WORK" th:name="status">В работу</button>-->
                        <button type="submit" class="btn btn-success btn-sm">В работу</button>
                    </div>
                </form>
                <div th:insert="fragments/consumables_edit_button_form"></div>
                <div th:insert="fragments/consumables_delete_button_form"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>