<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyExpendit: View Consumables</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Consumable name</th>
        <th scope="col">Contract</th>
        <th scope="col">Price</th>
        <th scope="col">Partnumber</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${consumables_list}">
        <td th:text="${entry.id}"></td>
        <td th:text="${entry.name}"></td>
        <td th:text="${entry.contract}"></td>
        <td th:text="${entry.price}"></td>
        <td th:text="${entry.partNumber}"></td>
        <td th:text="${entry.category.name}"></td>
        <td th:text="${entry.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>