<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/style_css"></div>
    <title>EasyExpendit: View Consumables</title>
</head>
<body style="padding-top: 55px">
<div th:insert="fragments/menu"></div>
<h1>Все расходники</h1>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">

        <!--<button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                data-bs-target="#modalWindowDelete">Добавить
            &lt;!&ndash;<span class="glyphicon glyphicon-wrench"></span>&ndash;&gt;
        </button>-->
        <!--<form action="/consumables/filtered">
            <button type="submit" class="btn btn-primary btn-sm" value="INCOMING" th:name="status" th:value="INCOMING">
                Заказанные
            </button>
            <button type="submit" class="btn btn-success btn-sm" value="AVAILABLE" th:name="status"
                    th:value="AVAILABLE">В
                наличии
            </button>
            <button type="submit" class="btn btn-info btn-sm" value="IN_WORK" th:name="status" th:value="IN_WORK">В
                работе
            </button>
            <button type="submit" class="btn btn-warning btn-sm" value="END_OF_WORK" th:name="status"
                    th:value="END_OF_WORK">
                Снятые
            </button>
            <button type="submit" class="btn btn-secondary btn-sm" value="DELETED" th:name="status" th:value="DELETED">
                Списанные
            </button>
        </form>-->
        <form class="form-inline d-flex" action="/consumables/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" th:name="word">
            <button class="btn btn-success my-2 my-sm-0 btn-sm" type="submit">Поиск</button>
        </form>
    </nav>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Наименование расходника</th>
            <th scope="col">Контракт</th>
            <th scope="col">Цена</th>
            <th scope="col">p/n</th>
            <th scope="col">Категория</th>
            <!--<th scope="col">Статус</th>-->
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${consumables_list}">
            <td th:text="${entry.name}"></td>
            <td th:text="${entry.contract}"></td>
            <td th:text="${entry.price}"></td>
            <td th:text="${entry.partNumber}"></td>
            <td th:text="${entry.category.name}"></td>
            <!--<td th:text="${entry.status}"></td>-->

            <td>
                <!-- Proceed consumable Form-->
                <form action="/consumables/proceed/" method="post" class="row row-cols-sm-auto g-4 align-items-right">
                    <a class="col-3">
                        <input type="text" class="form-control" name="comment_name" id="comment_id"
                               th:name="comment"/>
                        <input type="hidden" th:name="id" th:value="${entry.id}"/>
                    </a>
                    <a th:switch="${entry.status}">
                        <span th:case=${T(code.flatura.easyexpendit.model.Status).PLANNING}>
                            <button type="submit" class="btn btn-secondary btn-sm" value="INCOMING"
                                    th:name="status">Заказан</button>
                        </span>
                        <span th:case=${T(code.flatura.easyexpendit.model.Status).INCOMING}>
                            <button type="submit" class="btn btn-primary btn-sm" value="AVAILABLE" th:name="status">Оприходовать</button>
                        </span>
                        <span th:case=${T(code.flatura.easyexpendit.model.Status).AVAILABLE}>
                            <button type="submit" class="btn btn-success btn-sm" value="IN_WORK"
                                    th:name="status">Установить</button>
                        </span>
                        <span th:case=${T(code.flatura.easyexpendit.model.Status).IN_WORK}>
                            <button type="submit" class="btn btn-info btn-sm" value="END_OF_WORK"
                                    th:name="status">Снять</button>
                        </span>
                        <span th:case=${T(code.flatura.easyexpendit.model.Status).END_OF_WORK}>
                            <button type="submit" class="btn btn-warning btn-sm" value="DELETED" th:value="END_OF_WORK"
                                    th:name="status">Списать</button>
                        </span>
                        <!--
                        <span th:case=${T(code.flatura.easyexpendit.model.Status).DISPOSABLE}>
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </span>
                        -->
                    </a>
                </form>
                <div th:insert="fragments/consumables_edit_button_form"></div>
                <div th:insert="fragments/consumables_delete_button_form"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- modal window -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Что сделать с расходником?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="input-consumable-id" class="col-form-label">ID расходника</label>
                        <input disabled type="text" class="form-control" id="input-consumable-id">
                    </div>
                    <div class="mb-3">
                        <label for="input-consumable-name" class="col-form-label">Наименование расходника</label>
                        <input type="text" class="form-control" id="input-consumable-name">
                    </div>
                    <div class="mb-3">
                        <label for="input-consumable-pn" class="col-form-label">p/n:</label>
                        <input type="text" class="form-control" id="input-consumable-pn">
                    </div>
                    <div class="mb-3">
                        <label for="input-transaction-type" class="col-form-label">Тип транзакции:</label>
                        <input disabled type="text" class="form-control" id="input-transaction-type">
                    </div>
                    <div class="mb-3">
                        <label for="input-transaction-comment" class="col-form-label">Комментарий:</label>
                        <input type="text" class="form-control" id="input-transaction-comment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/style_scripts"></div>
<script type="application/javascript">
    var exampleModal = document.getElementById('modalEdit');
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        var consumableId = button.getAttribute('data-consumable-id');
        var consumableName = button.getAttribute('data-consumable-name');
        var partNumber = button.getAttribute('data-part-number');
        var statusToSet = button.getAttribute('data-transaction-type');
        var transactionComment = button.getAttribute('data-transaction-comment');
        // Update the modal's content.
        var selectorConsumableId = exampleModal.querySelector('.modal-body input');
        var selectorConsumableName = exampleModal.querySelector('.modal-body input');
        var selectorConsumablePn = exampleModal.querySelector('.modal-body input');
        var selectorTransactionType = exampleModal.querySelector('.modal-body input');
        var selectorTransactionComment = exampleModal.querySelector('.modal-body input');
        selectorConsumableId.text = consumableId;
        selectorConsumableName.text = consumableName;
        selectorConsumablePn.text = partNumber;
        selectorTransactionType.text = statusToSet;
        selectorTransactionComment.text = transactionComment
    })
</script>
</body>
</html>